@using Master_picecMVC.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;

}

<style>
/*
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    body {
        font-family: "Poppins-Regular";
        color: #333;
        font-size: 13px;
        margin: 0;
    }

    input, textarea, select, button {
        font-family: "Poppins-Regular";
        color: #333;
        font-size: 13px;
    }

    p, h1, h2, h3, h4, h5, h6, ul {
        margin: 0;
    }

    img {
        max-width: 100%;
    }

    ul {
        padding-left: 0;
        margin-bottom: 0;
    }

    a:hover {
        text-decoration: none;
    }

    :focus {
        outline: none;
    }

    .wrapper {
        min-height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
    }

    .inner {
        padding: 20px;
        background: #fff;
        max-width: 850px;
        margin: auto;
        display: flex;
    }

        .inner .image-holder {
            width: 50%;
        }

        .inner form {
            width: 50%;
            padding-top: 36px;
            padding-left: 45px;
            padding-right: 45px;
        }

        .inner h3 {
            text-transform: uppercase;
            font-size: 25px;
            font-family: "Poppins-SemiBold";
            text-align: center;
            margin-bottom: 28px;
        }

    .form-group {
        display: flex;
    }

        .form-group input {
            width: 50%;
        }

            .form-group input:first-child {
                margin-right: 25px;
            }

    .form-wrapper {
        position: relative;
    }

        .form-wrapper i {
            position: absolute;
            bottom: 30px;
            right: 0;
        }

    .form-control {
        border: 4px solid #333;
        border-top: none;
        border-right: none;
        border-left: none;
        display: block;
        width: 100%;
        height: 30px;
        padding: 0;
        margin-bottom: 25px;
    }

        .form-control::-webkit-input-placeholder {
            font-size: 13px;
            color: #333;
            font-family: "Poppins-Regular";
        }

        .form-control::-moz-placeholder {
            font-size: 13px;
            color: #333;
            font-family: "Poppins-Regular";
        }

        .form-control:-ms-input-placeholder {
            font-size: 13px;
            color: #333;
            font-family: "Poppins-Regular";
        }

        .form-control:-moz-placeholder {
            font-size: 13px;
            color: #333;
            font-family: "Poppins-Regular";
        }

    select {
        -moz-appearance: none;
        -webkit-appearance: none;
        cursor: pointer;
        padding-left: 20px;
    }

        select option[value=""][disabled] {
            display: none;
        }

    button {
        border: none;
        width: 164px;
        height: 51px;
        margin: auto;
        margin-top: 40px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        background: #333;
        font-size: 15px;
        color: #fff;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }

        button i {
            margin-left: 10px;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }

        button:hover i, button:focus i, button:active i {
            -webkit-animation-name: hvr-icon-wobble-horizontal;
            animation-name: hvr-icon-wobble-horizontal;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
        }*/



    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    body {
        font-family: "Poppins-Regular";
        color: #333;
        font-size: 13px;
        margin: 0;
    }

    input, textarea, select, button {
        font-family: "Poppins-Regular";
        color: #333;
        font-size: 13px;
    }

    p, h1, h2, h3, h4, h5, h6, ul {
        margin: 0;
    }

    img {
        max-width: 100%;
    }

    ul {
        padding-left: 0;
        margin-bottom: 0;
    }

    a:hover {
        text-decoration: none;
    }

    :focus {
        outline: none;
    }

    .wrapper {
        min-height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
    }

    .inner {
        padding: 20px;
        background: #fff;
        max-width: 850px;
        margin: auto;
        display: flex;
    }

        .inner .image-holder {
            width: 50%;
        }

        .inner form {
            width: 50%;
            padding-top: 36px;
            padding-left: 45px;
            padding-right: 45px;
        }

        .inner h3 {
            text-transform: uppercase;
            font-size: 25px;
            font-family: "Poppins-SemiBold";
            text-align: center;
            margin-bottom: 28px;
        }

    .form-group {
        display: flex;
    }

        .form-group input {
            width: 50%;
        }

            .form-group input:first-child {
                margin-right: 25px;
            }

    .form-wrapper {
        position: relative;
    }

        .form-wrapper i {
            position: absolute;
            bottom: 30px;
            right: 0;
        }

    .form-control {
        border: 4px solid #333;
        border-top: none;
        border-right: none;
        border-left: none;
        display: block;
        width: 100%;
        height: 30px;
        padding: 0;
        margin-bottom: 25px;
    }

        .form-control::-webkit-input-placeholder {
            font-size: 13px;
            color: #333;
            font-family: "Poppins-Regular";
        }

        .form-control::-moz-placeholder {
            font-size: 13px;
            color: #333;
            font-family: "Poppins-Regular";
        }

        .form-control:-ms-input-placeholder {
            font-size: 13px;
            color: #333;
            font-family: "Poppins-Regular";
        }

        .form-control:-moz-placeholder {
            font-size: 13px;
            color: #333;
            font-family: "Poppins-Regular";
        }

    select {
        -moz-appearance: none;
        -webkit-appearance: none;
        cursor: pointer;
        padding-left: 20px;
    }

        select option[value=""][disabled] {
            display: none;
        }

    button {
        border: none;
        width: 164px;
        height: 51px;
        margin: auto;
        margin-top: 40px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        background: #333;
        font-size: 15px;
        color: #fff;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }

        button i {
            margin-left: 10px;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }

        button:hover i, button:focus i, button:active i {
            -webkit-animation-name: hvr-icon-wobble-horizontal;
            animation-name: hvr-icon-wobble-horizontal;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
        }
</style>


<div class="wrapper" style="background-image: url('/img/ua.jpg')">
    <div class="inner">

        <h3>LOGIN</h3>

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-wrapper">

        @*<div class="form-wrapper" data-validate="Valid email is required: ex@abc.xyz">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control email-input ", id = "email-input", placeholder = "Email" })
            <i class="zmdi zmdi-email"></i>
        </div>*@

        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Log in" class="btn btn-default" href="https://localhost:44333/Categories/Index" />
            </div>
        </div>
        <p>
            @Html.ActionLink("Register as a new user", "Register")
        </p>
        @* Enable this once you have account confirmation enabled for password reset functionality
        <p>
            @Html.ActionLink("Forgot your password?", "ForgotPassword")
        </p>*@
    </div>
        }
        <div class="image-holder">
            <img src="~/img/about us.jpg" alt="" />
        </div>
    </div>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@