@model IEnumerable<Master_picecMVC.Models.proudect>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quentity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imgone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imgtwo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imgthree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imgfour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.video)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subcat.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quentity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imgone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imgtwo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imgthree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imgfour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subcat.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
